{% extends 'bootbase.html' %}
<style>
table {
	width: 100%;
}

#snap {
	width: 1024px;
	height: 768px;
	background: url('src="http://92.66.225.37/snapshot.cgi') no-repeat top center;
}

</style>
<script language="JavaScript" type="text/javascript">
  function reload() {setTimeout('reloadImg("refresh")',1000)};    // 1000 = 1 second. I'd suggest a reasonable minumum of 350
  function reloadImg(id)
  {
   var obj = document.getElementById(id);
   var rand = Math.random();
   obj.src = "http://92.66.225.37/snapshot.cgi?t="+rand
  }
</script>
{% block content %}
<table>
<tr>
<td>
<iframe style="width:600px;height:300px" src="http://localhost:8000/data/chart/1" scrolling="no" frameborder="0" seamless></iframe>
<!-- <iframe src="http://192.168.1.99/videostream.cgi?user=admin&rate=23&resolution=8" scrolling="no" frameborder="0" seamless></iframe> -->
<!-- <iframe src="http://92.66.225.37/snapshot.cgi?user=admin" scrolling="no" frameborder="0" seamless></iframe> -->
</td>
<td>
<img src="http://92.66.225.37/snapshot.cgi?t=" name="refresh" id="refresh" onload='reload()'>
</td>
</tr>
</table>
<div id='snap'>
</div>
{% endblock %} 
