{% extends 'bootbase.html' %}
{% block title %}Acacia Dashboard {{dashboard.name}}{% endblock title %}
{% block brandname %}<a class="navbar-brand">Dashboard {{dashboard.name}}</a>{% endblock brandname %}
{% block admin_url %}dashboard/{{dashboard.id}}{% endblock %}
{% block navbar %}{% endblock navbar %}
{% block content %}
<div class = "container">
<table class="table table-striped">
<tbody>
<tr>
{% for chart in dashboard.charts.all %}
<td><iframe src="{% url 'chart-detail' chart.id %}" height="300" width="600" marginwidth="0" seamless="seamless" frameborder="0"></iframe></td>
{% if forloop.counter|divisibleby:2 %}
</tr><tr>
{% endif %}
{% endfor %}
</tbody>
</table>
<div id='buttons'><button type="button" class="btn btn-primary" id='export'>Export</button></div>
</div>
{% endblock %}
