{% extends 'bootbase.html' %}
{% block title %}Acacia Dashboard {{dashboard.name}}{% endblock title %}
{% block brandname %}<a class="navbar-brand">Dashboard {{dashboard.name}}</a>{% endblock brandname %}
{% block admin_url %}dashboard/{{dashboard.id}}{% endblock %}
{% block navbar %}{% endblock navbar %}
{% block extrastyle %}
	<style>
	body, html {
	  height: 100%;
	  margin: 0;
	}

	.wrapper {
	  height: 100%;
	}
	
	.full {
	  height: 100%;
	}

	</style>

{% endblock extrastyle %}
{% block content %}
<div class="container-fluid full">
<div class="row-fluid">
{% for chart in dashboard.sorted_charts.all %}
<div class=col-md-6><a href = "{{chart.get_dash_url}}"><iframe src="{{chart.get_dash_url}}" height="400px" width="100%" marginwidth="0" seamless="seamless" frameborder="0"></iframe></a></div>
{% if forloop.counter|divisibleby:2 %}
</div><div class="row row-fluid">
{% endif %}
{% endfor %}
</div>
</div>
{% endblock %}
