{% extends 'bootbase.html' %}
{% block title %}Bestand {{object.name}}{% endblock title %}
{% block navbar %}{% endblock %}
{% block admin_url %}datasource/{{object.id}}{% endblock %}
{% block content %}
<div class = "container">
<div class = "row-fluid">
<h4>Bestand {{object.name}} </h4>
</div>
<div class="row-fluid">
<table class="table table-striped">
<tr><td>bron</td><td>{%if object.url %}<a href='{{object.url}}'>{{object.url}}</a>{% else %}Handmatige upload{% endif %}</td></tr>
<tr><td>aangemaakt op</td><td>{{object.created}}</td></tr>
<tr><td>laatste update</td><td>{{object.uploaded}}</td></tr>
<tr><td>update door</td><td>{{object.user}}</td></tr>
<tr><td>parameters</td><td>{{object.parameters}}</td></tr>
</table>
<table>
<tr><th>parameter</th><th>omschrijving</th><th>grafiek</th></tr>
{% for p in object.parameter_set.all %}
<tr><td>{{p.name}}</td><td>{{p.description}}</td><td><img src='{{MEDIA_URL}}{{p.thumbnail}}'/></td></tr>
{% endfor %}
</table>
</div>
{% endblock %}
