{% extends 'bootbase.html' %}
{% load staticfiles %}
{% block script %}
{{ block.super }}
<script src="http://code.highcharts.com/stock/highstock.js"></script>
{% if theme %}
<script src="{% static theme %}"></script>
{% else %}
<script src="{% static 'themes/gray.js' %}"></script>
{% endif %}
<script>
Highcharts.setOptions({
  global: {
	useUTC: false
  },
  lang: {
  	shortMonths : ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"],
	months: ["Januari", "Februari", "Maart", "April", "Mei", "Juni",  "Juli", "Augustus", "September", "Oktober", "November", "December"],
	weekdays: ["Zondag", "Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag"],
  }
});
</script>
{% block chartloader %}
<script>
$(function () {
  $('#container').highcharts({{ options|safe }});
});
</script>
{% endblock %}
{% endblock %}
{% block extrastyle %}
<style>
body, html {
  height: 100%;
  margin: 0px;
}
.wrapper {
  height: 100%;
}

</style>
{% endblock %}
{% block content %}
<div id="container" style="width:100%;height:90%;"></div>
{% endblock %}
