{% extends 'base.html' %}
{% block script %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="/static/themes/gray.js"></script>
<!-- <script src="/static/themes/dark-blue.js"></script> -->
<!-- <script src="/static/themes/dark-green.js"></script> -->
<!-- <script src="/static/themes/skies.js"></script> -->
<!-- <script src="/static/themes/grid.js"></script> -->
<script>
$(function () {
  $('#container').highcharts({{ options|safe }});
});
</script>
{% endblock %}
{% block content %}
<div id="container" style="width:800px; height:300px;"></div>
<br>
<div id='buttons'><button id='export'>export</button></div>
{% endblock %}
