{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="{% static "acacia/css/bootstrap.min.css" %}" rel="stylesheet">
	<style>
	body {margin: 0; padding: 0;}
	iframe {
	 	padding-top: 16px;
	 	padding-left: 16px;
	}
	</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "acacia/js/bootstrap.min.js" %}"></script>
</head>
<body>
<div class="container-fluid">
<div class="row row-fluid">
{% for chart in dashboard.sorted_charts.all %}
<div class=col-md-6><a href = "{% url 'chart-detail' chart.id %}"><iframe src="{% url 'chart-detail' chart.id %}" height="340px" width="640px" marginwidth="0" seamless="seamless" frameborder="0"></iframe></a></div>
{% if forloop.counter|divisibleby:2 %}
</div><div class="row row-fluid">
{% endif %}
{% endfor %}
</div>
</div>
</body>
</html>
