{% load staticfiles %}
<div class = "container-fluid">
<div class = "row-fluid">
<div class = "col-md-6 text-center" >
<a href="{{url}}" title="klik om kaart met grondsoorten te openen"><img src="{% static image %}" width = 90%"/></a>
</div>
<div class = "col-md-6">
<h2>Grondsoort</h2>
<p>Grondsoort is de naam van het materiaal waaruit een bodem is opgebouwd.</p> 
<p>De kaart toont hier drie grondsoorten, namelijk klei, zand en veen. 
De grondsoort bepaalt hoeveel water een bodem kan leveren aan het gewas. 
Kleigrond kan meer water vasthouden dan zandgrond, waardoor het watertekort bij kleigrond minder groot zal zijn dan bij zandgrond.
</p>
<p>
Klik <a href="/grondsoort">hier</a> om de interactive grondsoortenkaart te openen.
</p>   
</div>
</div>
</div>
