{% load staticfiles %}
{% block content %}
<div class = "container-fluid">
<div class = "row">
<div class = "col-md-6 text-center" ><img src="{% static 'img/druppelbevloeiing.jpg' %}" width = 90%"/></div>
<div class = "col-md-6">
<h2>Irrigatiesystemen</h2>
<h3>Druppelbevloeiing</h3> 
Druppelbevloeiing is een irrigatiemethode, waarbij water, eventueel met meststoffen, bij de planten wordt gedruppeld door een stelsel van leidingen en slangen. 
Deze leidingen en slangen zijn voorzien zijn van gaatjes, die fungeren als druppelaars. 
Bij druppelbevloeiing wordt via relatief kleine watergiften dicht bij de plantenwortels geïrrigeerd. Hierdoor worden waterverliezen beperkt.
</div>
</div>
<div class="row">
<div class = "col-md-6 text-center" ><img src="{% static 'img/DIsysteem.jpg' %}" width = 90%"/></div>
<div class = "col-md-6">
<h3>DI-systeem</h3>
Het DI-systeemis een gecombineerd drainage- en infiltratiesysteem. 
Bij het DI-systeem wordt irrigatiewater via drains geïnfiltreerd, waardoor naar verwachting minder waterverlies optreedt. 
Op deze manier vindt de watervoorziening van onderaf plaats en kan u ten opzichte van beregening water besparen.
</div>
</div>
</div>
{% endblock %}
