{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% load l10n %}
{% block extrastyle %}
<style>
body, html {
  height: 100%;
  width: 100%;
}
.error-msg {
  color: #a94442;
}
.chart {
  height: 400px;
}
.wrapper, .fill
{
	height: 100%;
} 
.bigmap {
	width: 95%;
	height: 80%;
}
.smallmap {
	width: 400px;
	height: 400px;
}
#matrix {
	float: right;
	margin-right: 5%
}
#locatie {
	float: left;
}

</style>
{% endblock %}
{% block script %}
{{block.super}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPN07TWkHmD8Mulqd1hKVx155AVAZWddM" type="text/javascript"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="{% static "js/themes/dark-blue.js" %}"></script>

<script type="text/javascript">

function updateSelection(sel) {
	if (sel == null) {
		document.getElementById('matrix').innerHTML='Geen gegevens';
		document.getElementById('id_grondsoort').value = '';
		document.getElementById('id_kwaliteit').value= '';
		document.getElementById('id_kwel').value='';
		document.getElementById('id_weerstand').value='';
	}
	else {		
		var code = sel.grondsoort+sel.kwaliteit+sel.kwel+sel.weerstand;
		document.getElementById('matrix').innerHTML = code;
		document.getElementById('id_grondsoort').value = sel.grondsoort;
		document.getElementById('id_kwaliteit').value=sel.kwaliteit;
		document.getElementById('id_kwel').value=sel.kwel;
		document.getElementById('id_weerstand').value=sel.weerstand;
	}
}

function updateAddress(data) {
	if (data.status == "OK") {
		var address = data.results[0].formatted_address;
		document.getElementById('locatie').innerHTML = address;	
	}
	else {
		document.getElementById('locatie').innerHTML = "Locatie onbekend";	
	}
}

function fetchData(position) {
	  $.getJSON('query',{'lat': position.lat(), 'lon': position.lng()}, function(data) {
		  updateSelection(data);
	  });
}

function fetchAddress(position) {
	  latlng = position.lat() + ',' + position.lng()
 	  $.getJSON('https://maps.googleapis.com/maps/api/geocode/json',{'latlng': latlng, 'language': 'nl', 'key': 'AIzaSyD8cTeXT5dTQv7jLMucoBs3oqEx4X_qu54'}, function(data) {
 		  updateAddress(data);
 	  });
}

function initMap() {

	var mapOptions = {
      scrollwheel: true,
	  draggableCursor: 'default'
    };
	
	var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    var geocoder = new google.maps.Geocoder();
    var marker = null;

    if (geocoder) {
	   geocoder.geocode({ 'address': 'Noord-Holland' }, function (results, status) {
	     if (status == google.maps.GeocoderStatus.OK) {
	       map.fitBounds(results[0].geometry.viewport);
	     }
	   });
	}

    {% if request.session.lon %}
    {% localize off %}
    var pos = new google.maps.LatLng({{request.session.lat}}, {{request.session.lon}});
    {% endlocalize %}
	marker = new google.maps.Marker({
		position: pos,
		map: map,
		draggable: true,
	});
  
	fetchData(pos);
	fetchAddress(pos);

	google.maps.event.addListener(marker, 'dragend', function(e) {
		  fetchData(e.latLng);
		  fetchAddress(e.latLng);
		});
		
    {% endif %}
    
	google.maps.event.addListener(map, "click", function(event) {

		if (marker) {
			marker.setMap(null);
			marker = null;
		}
		marker = new google.maps.Marker({
			position: event.latLng,
			map: map,
			draggable: true,
		});
	  
		fetchData(event.latLng);
		fetchAddress(event.latLng);

		google.maps.event.addListener(marker, 'dragend', function(e) {
			  fetchData(e.latLng);
			  fetchAddress(e.latLng);
			});
	 
    });
}

function initCharts() {
	var options1 = {{chart1|safe}};
	if (options1 != null) {
	 	options1.xAxis.labels.formatter = function() { return this.value;};
		$('#chart1').highcharts(options1);
	}
	
 	var options2 = {{chart2|safe}};
	if (options2 != null) {
 		options2.xAxis.labels.formatter = function() { return this.value;};
 		options2.yAxis[0].labels.formatter = function() { return this.value;};
		$('#chart2').highcharts(options2);
	}
	
 	var options3 = {{chart3|safe}};
	if (options3 != null) {
		options3.xAxis.labels.formatter = function() { return this.value;};
 		options3.yAxis[0].labels.formatter = function() { return this.value;};
		$('#chart3').highcharts(options3);
	}
}

function ToggleDisplay(idon,idoff) {
	var on = document.getElementById(idon); 		
	var off = document.getElementById(idoff);
	on.style.display = 'block';
	off.style.display = 'none';
}

$(function() {
	var id1 = document.getElementById("id_reken_1");
	id1.onchange = function(){ToggleDisplay("div_id_perceel","div_id_bassin");};
	var id2 = document.getElementById("id_reken_2");
	id2.onchange = function(){ToggleDisplay("div_id_bassin","div_id_perceel");};
	if (id1.checked) {
		ToggleDisplay("div_id_perceel","div_id_bassin");
	}
	else {
		ToggleDisplay("div_id_bassin","div_id_perceel");
	}
	{% if chart1 %} 
		initCharts();
	{% else %}
		initMap();
	{% endif %}
});

function goBack() {
	window.history.back();
}

</script>
{% endblock %}/* 	margin: 64px; */
/* 	padding: 64px; */

{% block content %}
<div class = "container-fluid fill">
<div class = "row-fluid fill">
<div class = "col-md-3 fill">
<form action="" method="post">
{% csrf_token %}
	{{ form|as_bootstrap }}
	<div class="form-actions">
	     <button type="submit" class="btn btn-primary">Berekenen</button>
	</div>
</form>
<!-- {% if chart1 %}<br/><button class="btn btn-primary" onclick="goBack();">Terug naar kaart</button>{% endif %} -->
{% if chart1 %}<br/><a href="/scenario2" class="btn btn-primary">Naar kaart</a>{% endif %}
</div>

{% if chart1 %}
<div class="row-fluid">
<div class="col-md-4"><div id="chart1" class="chart"></div><br/></div>
<div class="col-md-4"><div id="chart2" class="chart"></div><br/></div>
</div>
<div class="row-fluid">
<div class="col-md-4"><div id="chart3" class="chart"></div><br/></div>
<div class="col-md-4"><div id="chart4" class="chart"></div>
<br/>
</div>
</div>
{% else %}
<div class = "col-md-9 fill">
<div id="map" class="bigmap fill" title="Klik op de kaart om grondsoort, waterkwaliteit en hydrologisch systeem
(kwel of infiltratie en weerstand deklaag) op te zoeken"></div>
<div id="locatie"></div>
<div id="matrix"></div>
</div>
{% endif %}
</div>
</div>
{% endblock %}
