{% extends 'pict/pict.html' %}
{% block options %}
<script>
var options = {
	chart: {
	    type: 'solidgauge',
	    animation: true
	},
	
	credits: {enabled: false},
	
	title: {text: 'pF dripperceel', y: 90},
	
	pane: {
	    center: ['50%', '85%'],
	    size: '100%',
	    startAngle: -90,
	    endAngle: 90,
	    background: {
	        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
	        innerRadius: '60%',
	        outerRadius: '100%',
	        shape: 'arc'
	    }
	},
	
	tooltip: {
	    enabled: false
	},
	
	// the value axis
	yAxis: {
	    stops: [
	        [0.1, '#55BF3B'], // green
	        [0.5, '#DDDF0D'], // yellow
	        [0.9, '#DF5353'] // red
	    ],
	    lineWidth: 0,
	    minorTickInterval: null,
	    tickPixelInterval: 400,
	    tickWidth: 0,
	    min: 0,
	    max: 5,
	    labels: {
	        y: 16
	    }
	},
	
	plotOptions: {
	    solidgauge: {
	        dataLabels: {
	            y: 5,
	            borderWidth: 0,
	            useHTML: true
	        }
	    }
	},
	series: [{
		animation: {duration: 800},
	    name: 'pF',
	    data: [{{pfdrip}}],
	    dataLabels: {
	        format: '<div style="text-align:center"><span style="font-size:25px;color:black">{y:,.2f}</span><br/>'
	    },
	}]
	
};
</script>
{% endblock %}
