<!DOCTYPE html>
<html lang="nl">
<head>
<meta charset="utf-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<!-- <link rel="stylesheet" -->
<!-- 	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->

<!-- Latest compiled and minified JavaScript -->
<!-- <script -->
<!-- 	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->

<!--  jquery  -->
<script src="http://code.jquery.com/jquery-1.11.2.js"></script>

<style>
.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}

input[readonly] {
	background-color: white !important;
	cursor: text !important;
}
</style>


<script>
	$(document).on(
			'change',
			'.btn-file :file',
			function() {
				var input = $(this), numFiles = input.get(0).files ? input
						.get(0).files.length : 1, label = input.val().replace(
						/\\/g, '/').replace(/.*\//, '');
				input.trigger('fileselect', [ numFiles, label ]);
			});

	$(document).ready(
			function() {
				$('.btn-file :file').on(
						'fileselect',
						function(event, numFiles, label) {

							var input = $(this).parents('.input-group').find(
									':text'), log = numFiles > 1 ? numFiles
									+ ' bestanden geselecteerd' : label;

							if (input.length) {
								input.val(log);
							} else {
								if (log)
									alert(log);
							}

						});
			});
</script>

 </head>
<body>
	<div class='container-fluid'>
		<div class='row'>
			<div class="col-md-6">
				<h4>Selecteer .MON bestanden</h4>
			</div>
		</div>
		<div class="row">
			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.errors}}
				<div class="col-sm-5">
					<div class="input-group">
						<span class="input-group-btn">
<!-- 							<span class="btn btn-primary btn-file"> Browse&hellip; <input type="file" multiple> </span> -->
 							<span class="btn btn-primary btn-file"> Browse&hellip; {{form.filename}} </span>
						</span>
						<input type="text" id="text1" class="form-control" readonly>
					</div>
				</div>
				<div class="col-sm-5">
					<button type="submit" class="btn btn-primary">Upload&hellip;</button>
				</div>
			</form>
		</div>
	</div>
</body>