<style>
#content {
  width: 400px;
  overflow: hidden;
}
td, th {
  valign: top;
  padding: 0 4px 0 0;
}
td a img {
	padding: 0 8px 0 0;
	float: left;
	height: 100px;
}
</style>
<div id="content">
<div class="container-fluid">
<a href="{% url 'well-detail' object.id %}" ><h4>Grondwaterput {{ object.name }}</h4></a>
<table class="table table-condensed">
<tr><td class="col-md-2">Constructiedatum</div></td><td class="col-md-10">{{object.date}}</td></tr>
<tr><td>Maaiveld</div></td><td>{{object.maaiveld|floatformat:2}} m NAP</td></tr>
<tr><td>Filters</td><td>{{object.num_filters}}</td></tr>
<tr><td>Fotos</td><td>{%for f in object.photo_set.all %}<a href="/media/{{f.photo.name}}"><img src="/media/{{f.photo.name}}"/></a>{%empty%}<i>geen</i>{%endfor%}</td></tr>
{% if object.has_data %}
<tr><td colspan="2">
	<a href="{% url 'chart-detail' object.id %}" target="_blank"><img width="100%" src="{{object.chart.url}}"></a>
</td></tr>
{% endif %}
</table>
</div>
</div>
