{% extends 'base.html' %}
{% load staticfiles %}
{% load l10n %}
{% load iom_filters %}
{% block breadcrumbs %}{% endblock %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.14/themes/css/cartodb.css" />
<style>
body, html {height: 100%;}
.fullheight {height: 100%;}
.wrapper {height: 100%;}
.scroll {overflow-y: auto;}
#map {width: 100%; height: 100%; padding-bottom: 12px;}
.chart-ec {
	width: 380px;
	height: 120px;
}     
.cartodb-popup {
	min-height: 200px;
}
.persona {
height: 24px;
padding-right: 12px;
}
</style>
{% endblock extrastyle %}
{% block script %}
{{ block.super }}
{% localize off %}
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.14/cartodb.js"></script>
<script>
window.onload = function() {
  cartodb.createVis('map', 'https://tkleinen.cartodb.com/api/v2/viz/f3caaf4c-1b11-11e5-8db7-0e9d821ea90d/viz.json')
  	.done(function(vis, layers) {
  		{% block createdone %}	  		
  		{% endblock createdone %}	  		
  	});
    $("#list").height($("#map").height());
}
</script>
{% endlocalize %}
{% endblock %}
{% block content %}
<div class = "container-fluid fullheight">
<div class = "row-fluid fullheight">
<div class = "col-md-9 fullheight"><div id="map"></div></div>
<div class = "col-md-3">
{% block list %}
<div id="list" class = "list-group scroll">
<a href="#" class="list-group-item active"><img class="persona" src="{% static "img/user_group_two-512.png" %}"></img>Waarnemers<span class="badge" title='Aantal waarnemers'>{{waarnemers|length}}</a>
{% for w in waarnemers %}
<a href="{% url 'waarnemer-detail' w.id %}" class="list-group-item">{{w}}
<!-- <span class="badge" title='Aantal waarnemingen'>{{w.waarnemingen|defaultif0:""}}</span> -->
<span class = "badge" title='Aantal waarnemingen'>{{w.aantal_waarnemingen|defaultif0:""}}</span> 
<br/>
<div class='text-muted'><small>{{w.organisatie}}</small></div>
</a>
{% endfor %}
</div>
{% endblock list %}
</div>
</div>
{% endblock content %}
