{% extends 'home.html' %}
{% load staticfiles %}
{% load l10n %}
{% block script %}
{{ block.super }}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/locale/bootstrap-table-nl-NL.min.js"></script>
{% endblock script %}
{% block createdone %}
	vis.getNativeMap().setView([{{location.y}}, {{location.x}}], 15);
{% endblock createdone %}
{% block style %}
{{block.super }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
{% endblock style %}

{% block extrastyle %}
{{ block.super }}
<style>
.persona {
height: 24px;
padding-right: 12px;
}
</style>
{% endblock extrastyle %}
{% block list %}
<div id="list" class = "list-group scroll">
<a href="#" class="list-group-item active" title="Meetpunt">{{object.waarnemer}} Meetpunt {{object.name}}<span title="Aantal waarnemingen" class="badge">{{series.aantal}}</a>
<table data-toggle="table" data-pagination=true data-page-size=12 data-url="/get/series/{{series.pk}}">
<thead>
<tr>
<th data-field="date">Datum</th>
<th data-field="time">Tijd (UTC)</th>
<th data-field="value">EC (&micro;S/cm)</th>
</tr>
</thead>
</table>
</div>
{% endblock list %}
